:root{
    --white-color: #fff;
    --baclk-color: #000;
    --text-color: #333;
    --primary-color:#f6432e;

    --height-header: 120px;
    --height-nav: 38px;
    --height-search: calc(var(--height-header) - var(--height-nav)) ;
    --height-header-sort-bar:46px;
}
*{
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    width: 100%;
}
/* test responsive */
.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}
/* modal */

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}

.modal__overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0 , 0 , 0.4);
}

.modal__body{
    position: relative;
   
    margin: auto;
    z-index: 1;
}
/* btn */
.btn{
    min-width: 142px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    background-color: var(--white-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.btn.btn--nomal:hover{
    background-color: rgba(0, 0 , 0 , 0.05);
}   
.btn.btn--size-s{
    height: 32px;
}
.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--primary-color);
    cursor: pointer;
}
.select-input{
    position: relative;
    background-color: var(--white-color);
    width: 200px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}

.select-input:hover .select-input__list{
    display: block;
}
.select-input__lable{
    font-size: 1.4rem;
    color: var(--text-color);
}
.select-input__icon{
    color: #555;
    font-size: 1.4rem;
}
.select-input__list{
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    background-color: var(--white-color);
    list-style: none;
    padding: 8px 12px;
    display: none;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0 , 0 , 0.1);
}
.select-input__item-link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    padding: 4px 0;
}
.select-input__item-link:hover{
    color: var(--primary-color);
}